@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-primary: #2a85ff;
  --color-dark-primary: #1378fa;
  --color-secondary: #100a55;
  --color-light-blue: #e4f0ff;
  --color-dark-blue: #000929;
  --color-light-gray: #cbcbcb;
  --color-dark-gray: #c6c6c6;
  --color-input-field-bg: #f3f8ff;
  --color-input-field-border: #cce2ff;
  --color-warning-red: #ff613e;

  /* Custom Fonts */
  --font-jakarta-sans: "Plus Jakarta Sans";

  /* Custom Breakpoints */
  --breakpoint-xs: 330px;
  --breakpoint-w1150: 1150px;

  /* Custom Shadows */
  --shadow-custom: 0px 5px 20px rgba(14, 8, 84, 0.08);
}

/* Customizing the font - Whole Website */
body {
  font-family: var(--font-jakarta-sans) !important;
  font-size: 14px;
}

/* Customizing the cursor - Buttons */
button:hover {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

/* Removing the cross icon of search input */
input[type="search"]::-webkit-search-cancel-button {
  display: none !important;
}
